/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #789ff3;
  --color-dark-blue: #6d8fff;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-wood: #9e7c48;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 25px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* animation */
  --animation-duration: all 250ms ease;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  ont-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
}

/* Navbar */
#navber {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navber__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-dark-blue);
}

.navber_toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  top: 24px;
  display: none;
}

/* home */

#home {
  background: url("img/background.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home_contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

.home_contact:hover {
  background-color: var(--color-dark-blue);
}

/* about */
.about__career {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.career {
  width: 30%;
}

.career__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  border-radius: 50%;
}

.career__icon__ktl {
  width: 170px;
  height: 120px;
  font-size: 70px;
  line-height: 120px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.career img:hover {
  transform: rotate(-5deg) scale(1.1);
}

.career img {
  transition: all 250ms ease;
}

.career__title,
.career__description {
  color: var(--color-dark-grey);
}

.career__description {
  font-size: var(--font-small);
}

.jop {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 4px 0px;
}

.jop__period {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}

/* skill */

#skills {
  background-color: var(--color-yellow);
}

.section__container {
  margin: auto;
}

.skillset {
  display: flex;
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__title {
  color: var(--color-white);
  font-size: var(--font-medium);
  margin-bottom: 24px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
  padding: 20px 40px;
  background-color: var(--color-grey);
}

.etc {
  margin-bottom: 32px;
}

/* work */

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
  transition: var(--animation-duration);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  background-color: var(--color-orange);
  top: 0px;
}

.category__count {
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 8px;
  opacity: 0;
  background-color: rebeccapurple;
  transition: all ease-in 250ms;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  position: relative;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all ease-in 200ms;
}

.project__description:hover.project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
  margin-left: -12px;
}

/* testimonial */

#testimonials {
  background-color: var(--color-light-white);
}

.testimonial {
  display: flex;
  margin: 32px;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial_sppeech-bubble {
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  padding: 18px;
}

.testimonial_sppeech-bubble p {
  color: var(--color-grey);
}

.testimonial_sppeech-bubble a {
  color: var(--color-blue);
}

/* contact */
#contact {
  background-color: var(--color-blue);
}

.contact__title,
.contack__emil,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
  transition: 250ms;
}

@media screen and (max-width: 768px) {
  .navber_toggle-btn {
    display: block;
  }

  #navber {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__career {
    flex-direction: column;
  }

  .career {
    margin-bottom: 38px;
    width: 100%;
  }
  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }
}
